﻿body {
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 30px;
}

.header {
    height: 20%;
    border-bottom: 1px solid #ccc;
    padding: 35px;
}

.container {
    height: 60%;
    padding: 10px;
}

    .container textarea {
        resize: none;
        height: 100% !important;
        background-color: white !important;
    }

.footer {
    height: 20%;
    border-top: 1px solid #ccc;
    padding: 20px;
}

    .footer .col-md-3 {
        height: 100%;
    }

        .footer .col-md-3 input {
            height: 100%;
        }

    .footer textarea {
        resize: none;
        height: 100% !important;
    }
